<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.signaturemaker.app"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/App.Theme"
        tools:ignore="GoogleAppIndexingWarning">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity
            android:name=".application.features.intro.IntroActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/App.Theme.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".application.features.setting.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppThemePrefs" />
        <activity
            android:name=".application.features.main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/App.Theme" />
        <activity
            android:name=".application.features.menu.SettingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSetting"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".application.features.image.ImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeImage"
            tools:ignore="LockedOrientationActivity" />
    </application>
</manifest>
